@mixin container-config {
  width: 100%;
  overflow: hidden;
}

@mixin rail-config {
  display: flex;
  flex-wrap: nowrap;
}

@mixin item-config {
  min-width: 33.33%;
}

@mixin block-helper-border {
  border: 1px solid black;
}


.CarouselSm {
  &__Container{
    display: block;
    @include container-config;
  }

  &__Rail {
    @include rail-config;
  }

  &__Item {
    @include item-config;
    &:hover{
      cursor: pointer;
    }
  }
}
